.group__element {
    width: 100%;
    height: 10%;
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 12px;
    background-color: var(--secondary-color);
    margin-top: 10px;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
}

.stud__info_list {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    font-size: 1.5vh
}
.stud__group, .stud__status {
    width: 10%;
}
.stud__fio {
    width: 30%;
}
.stud__status {
    border-radius: 8px;
    padding: 10px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 0.7s;
    font-size: 1.2vh;
    color: var(--background);
}
.stud__here {
    background-color: rgb(125, 175, 138);
}
.stud__not_here {
    background-color: rgb(204, 93, 101);
}
.list__element {
    width: 100%;

}