.teacher__name {
    font-size: 2vh;
    margin: 20px;
    color: var(--foreground);
}

.information__block {
    height: 100%;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    margin: 20px;
}

.group__list {
    min-height: 80%;
    width: 90%;
    border-radius: 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    list-style: none;
}
.about__lesson {
    display: flex;
    align-items: center;
    justify-content: space-around;
}