.dashboard {
	width: 100%;
	height: 80vh;

	padding: 3rem;

	display: grid;
	grid-template-columns: 3fr 2fr;

	background-color: var(--background);

	gap: 3rem;
}

.dashboard_stats {
	width: 100%;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: var(--secondary-color);
	border-radius: 16px;
	box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.2);
}

.dashboard_templates {
	width: 100%;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 3rem;

	background-color: var(--secondary-color);
	border-radius: 16px;
	box-shadow: 1px 1px 3px 2px rgba(0, 0, 0, 0.2);
}

.dashboard_templates__button {
	width: 5rem;
	height: 5rem;

	display: flex;
	justify-content: center;
	align-items: center;

	border: none;
	border-radius: 100%;

	background-color: var(--background);
}
