.size_m {
    width: 40%;
    height: 20%;
    min-height: 40px;
}
.input {
    margin: 10px;
    border: 2px solid var(--secondary-color);
    text-indent: 10px;
    border-radius: 8px;
    transition-duration: 0.6s;
}
.input:focus {
    outline: 0;
    transform: scale(1.02);
}
.size_l {
    width: 50%;
    height: 15%;
    min-height: 60px;
}