.information__block, .lesson {
    width: 80%;
    height: 30%;
    min-height: 100px;
    border-radius: 16px;
    margin-top: 40px;
    margin-bottom: 40px;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    background-color: var(--secondary-color);
}
.information__block {
    padding-left: 100px;
}


.lesson {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.4s;
}

.lesson:hover {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

.lessons__block {
    width: 80%;
    min-height: 60%;
}
.information__text {
    text-align: left;
    font-size: 2vh;
    width: 30%;
}
.progress__block {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.progress__text {
    margin-right: 15px;
    font-size:2vh;
}