.header {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--secondary-color);
}
.image {
  border-radius: 8px;
  margin: 40px;
}
.text__header {
  font-size: 3vh;
  color: var(--foreground);
}

.navContainer {
  display: flex;
  width: 40%;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
}

.navLink {
  color: rgba(255, 255, 255, 0.75);
  height: 100%;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.navLink:hover{
  color: rgba(255, 255, 255,1);
  transition: all 0.3s;
}

.navLink::after{
  margin-top: 6px;
  content: "";
  height: 2px;
  width: 100%;
  background-color: rgb(145, 90, 234);
  display: block;
  opacity: 0;
  transition: all 0.3s;
  pointer-events: none;
}

.navLink:hover::after{
  opacity: 1;
}