.header {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--secondary-color);
}
.image {
  border-radius: 8px;
  margin: 40px;
}
.text__header {
  font-size: 3vh;
  color: var(--foreground);
}

.navContainer {
  display: flex;
  gap: 30px;
  margin: 40px;
}
