.lessonTableItem {
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
    border-radius: 8px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
}



