.content {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.users__list {
    min-height: 100%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    list-style: none;
}
.group__href {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}
.group__element {
    width: 80%;
    height: 100%;
    min-height: 100px;
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 1px 2px 2px 3px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    transition-duration: 0.4s;
}
.group__element:hover {
    transform: scale(1.05)
}
.group__text {
    font-size: 2vh;
}
.usersNotFound {
    font-size: 2vh;
}
.observer {
    width: 100%;
    height: 30px;
}

