.userModalContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(117, 117, 117, 0.75);
    overflow: hidden;
    overflow-y: auto;
    z-index: 1;
    backdrop-filter: blur(5px);
}

.userModalWrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.useModalContent {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    width: 80%;
    height: 700px;
    border-radius: 8px;
    background-color: #ffffff;
    padding: 40px 20px 20px 20px;
    z-index: 999;
}

.outerModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 2;
}

.hideModal {
    display: none;
}

.infoBlock {
    width: 80%;
    height: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    border-radius: 8px;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
}

